div.Resume {
  height: 660px;
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px black;
  padding: 30px;
}

h2.resume-name {
  line-height: 1.4;
  align-self: center;
}

section h3 {
  line-height: 1.8;
}

div.Resume section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

div.general-info-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

span.year-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
