#root {
  height: 100dvh;
  width: 100dvw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 5em;
}

section.action {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

section.action button {
  width: 75px;
}

div.Resume section.general {
  align-items: center;
}

/* Revisit
Think about clicking field to edit it
make component where click edits field 
value, click out stores value into 
field clicked
 */
